@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iA Writer Quattro V";
  font-style: normal;
  font-weight: 400 700;
  font-display: optional;
  src: url(/fonts/iAWriterQuattroV.woff2) format("woff2");
}

@font-face {
  font-family: "iA Writer Quattro V";
  font-style: italic;
  font-weight: 400 700;
  font-display: optional;
  src: url(/fonts/iAWriterQuattroV-Italic.woff2) format("woff2");
}

@layer base {
  html {
    @apply max-h-screen overflow-hidden text-base antialiased;
  }
  article p img {
    @apply block ml-auto mr-auto object-contain rounded-lg shadow-lg;
  }
  article pre {
    @apply shadow-lg;
  }
  article blockquote {
    @apply bg-light-grey border-teal-grey dark:text-off-white dark:bg-dark-grey rounded-lg shadow-lg;
  }
}

@layer utilities {
  .square {
    aspect-ratio: 1 / 1;
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8b949e;
}

.token.punctuation {
  color: #c9d1d9;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #79c0ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a5d6ff;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #ff8527;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #ff7b72;
}

.token.function,
.token.class-name {
  color: #d2a8ff;
}

.token.regex,
.token.important,
.token.variable {
  color: #c9d1d9;
}

.anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply md:visible no-underline;
}

.anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: "#";
}

*:hover > .anchor {
  @apply md:visible no-underline;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

[id] {
  scroll-margin-top: 5rem;
}

.gradient-bg {
  background: linear-gradient(120deg, #FF00C7 0%, #51003F 100%), linear-gradient(120deg, #0030AD 0%, #00071A 100%), linear-gradient(180deg, #000346 0%, #FF0000 100%), linear-gradient(60deg, #0029FF 0%, #AA0014 100%), radial-gradient(100% 165% at 100% 100%, #FF00A8 0%, #00FF47 100%), radial-gradient(100% 150% at 0% 0%, #FFF500 0%, #51D500 100%);
  background-blend-mode: overlay, color-dodge, overlay, overlay, difference, normal;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
