@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl md:text-5xl leading-tight font-bold tracking-tighter my-4;
  }
  h2 {
    @apply text-3xl md:text-4xl leading-tight font-bold tracking-tighter my-4;
  }
  h3 {
    @apply text-2xl md:text-3xl leading-snug font-semibold tracking-tighter my-4;
  }
  h4 {
    @apply text-xl md:text-2xl leading-normal font-semibold tracking-tighter my-4;
  }
}

html,
body {
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

article p {
  margin-bottom: 1.5rem;
}

article p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

article ul {
  list-style: disc;
  list-style-position: outside;
  margin-left: 2.5rem;
  margin-bottom: 1.5rem
}

article ol {
  list-style: lower-roman;
  list-style-position: outside;
  margin-left: 2.5rem;
  margin-bottom: 1.5rem
}

article a {
  color: #729D9E
}

article a:hover {
  text-decoration: underline;
}

article blockquote {
  background: #F5F5F5;
  border-left: 5px solid #729D9E;
  margin: 1.5em 0;
  padding: 0.5em 10px;
}

article blockquote p {
  display: inline;
}
